:root {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}

@media (min-width:768px) {
    :root {
        font-size: 1em;
    }
}

table {
    border-collapse: separate;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}

th,
td {
    text-align: left;
    padding: 8px;
    border: 1px solid #ddd;
}

thead th {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

tbody tr {
    scroll-snap-align: start;
    height: 100px;
}

#TableView {
    display: flex;
    margin: auto;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    border: 1px solid #ccc;
    scroll-padding-top: 40px;
    width: auto;
}

#TableHeader {
    text-align: center;
}

#search-bar {
    display: flex;
    justify-content: right;
    max-width: 90%;
    max-height: 80%;
}

.App {
    position: fixed;
    top: 0;
    bottom: 0;
    margin: 5% auto;
    left: 0;
    right: 0;
}